<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mails</title>
    <style>
      .preview {
        margin: 0;
        padding: 0;
        font-family: sans-serif;
      }

      .preview p,
      .preview h1,
      .preview h2 {
        margin: 0;
      }
    </style>
  </head>
  <body class="preview">
    <div id="app"></div>
    <script type="module" src="./development.tsx"></script>
  </body>
</html>
